.blocf form{
    margin-left: 80px;
}
.blocf input[type=submit]{
    width: 75%;
    height: 40px;
    color: black;
    background-color: white;
    border: transparent;
    border-radius: 10px;

}

.blocf select{
    width: 75%;
    color: black;
    border: solid white;
    border-width: 0 0 2px 0;
    background-color: transparent;
}

.blocf input[type=password]{
    text-decoration-style: none;
    width: 75%;
    height: 40px;
    color: white;
    border: solid white;
    border-width: 0 0 2px 0;
    background-color: transparent;
}

.blocf input[type=text]{
    width: 75%;
    padding: 5px;
    height: 42px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-width: 0 0 2px 0;
}


.v form{
    margin-left: 65%;
}

.v input[type=text]{
    width: 55%;
    padding: 5px;
    height: 42px;
    border: transparent;
    border-radius: 15px;
}

.v input[type=submit]{
    width: 30%;
    height: 42px;
    color: white;
    background-color: rgb(0, 204, 255);
    border: transparent;
    border-radius: 15px;
}

.blocdoc{
    padding: 10px;
    margin:25px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.blocf{
    width: 35%;
    margin-top: 40px;
    margin-left: 450px;
    border-radius: 50px;
    background-color: rgba(0, 162, 255, 0.514);
}

.custom{
    width: 16%;
    margin-top: 90px;
    margin-left: 548px;
}

.w{
    font-size: 20px;
    width: 50%;
    margin-left:5%;
}

.first-row, .second-row{
    display: flex;
}

.second-row{
    width: 75%;
    margin-left: 10%;
}

.col{
    flex: 0.333;
}

.col1{
    flex: 0.6;
}

.blocd{
    padding:10px;
    margin: 10px 20% 10px 20%;
}

.custom1{
    text-align: center;
    margin: 12px;
    border: 1px solid rgb(0, 132, 255);
    border-radius: 6px;
}

.custom1:hover a{
    color: white;
}

.custom1:hover a:hover{
    color: white;
    text-decoration: none;
}

.custom1:hover{
    color:white;
    background-color: rgb(0, 132, 255);
    border: 1px solid white;
    box-shadow: 5px 5px 5px rgb(0, 132, 255);
}


.span1{
    margin-left: 5%;
    width: 90%;
    height: 2px;
    background-color: darkblue;
}

h2{
    border: 2px dotted;
    border-width: 0 0 2px 0;
    width:30.3%;
    margin-left: 35%;
}

h3{
    color: black;
}

.i1, .i2, .i3, .i4, .i5{
    width: 100px;
    height: 86px;
    margin-left: 25%;
}

.i1{
    background: url('./res/icons8_book_100px.png');
}

.i2{
    height: 88px;
    background: url('./res/icons8_report_file_100px.png');
}

.i3{
    background: url('./res/icons8_project_100px.png');
}

.i4{
    margin-left: 30%;
    background: url('./res/icons8_brief_100px.png');
}

.i5{
    margin-left: 30%;
    background: url('./res/icons8_prototype_100px.png');
}

.custom1:hover .i1{
    background:url('./res/icons8_book_100px_1.png');
}

.custom1:hover .i2{
    background: url('./res/icons8_report_file_100px_1.png');
}

.custom1:hover .i3{
    background: url('./res/icons8_project_100px_1.png');
}

.custom1:hover .i4{
    background: url('./res/icons8_brief_100px_1.png');
}

.custom1:hover .i5{
    background: url('./res/icons8_prototype_100px_1.png');
}


.blocs{
    margin: 20px;
    flex-direction: row;

}

.blocsdoc{
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(0, 132, 255);
    border-width: 1px 0 1px 0;
}

.blocsdoc a{
    margin: 0 20px 0 0;
    margin-left: 5%;
    text-decoration: none;
}

.blocsdoc button{
    margin: 0 20px 0 0;
    margin-left: 80%;
    text-decoration: none;
}

.blocus{
    margin: 2px 25px 0 0;
    display: flex;
}

.blocsdoc p:nth-child(1){
    font-size: 25px;
    margin-left: 10%;
}

.blocus p:nth-child(1){
    font-size: 15px;
}

.blocus p:nth-child(2){
    margin-left: 5%;
}

.up {
    width: 50%;
    padding: 25px;
    margin-left: 400px;
    border-radius: 50px;
    background-color: rgba(0, 162, 255, 0.664);
}

.up form{
    margin: 8px;
}

.up input[type=file]{
    width: 35%;
    color: white;
    background-color: rgb(0, 204, 255);
    border: transparent;
    border-radius: 15px;
    margin-left: 50px;
}

.up input[type=submit]{
    width: 30%;
    height: 42px;
    margin-left: 33%;
    color: white;
    background-color: rgb(0, 204, 255);
    border: transparent;
    border-radius: 15px;
}

.up select{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: black;
    border-bottom: 1px solid white;
    font-size: 18px;
    width: 45%;
    margin: 0 10px;
}

.up select:nth-child(1){
    margin-left: 250px;
}

.account{
    float: left;
}

.f{
    display: flex;
    padding: 2px;
}


.favourite{
    margin: 0 20px 0 0;
    background-color: rgb(0, 132, 255);
    color: white;
    border: transparent;
    border-radius: 5px;
    width: 30%;
}